@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*html {
    scroll-behavior: smooth;
}*/
html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #FFF; }

a {
  display: inline-block;
  text-decoration: none; }

ul {
  list-style: none; }

img {
  height: auto;
  width: 100%;
  vertical-align: bottom; }

html {
  font-size: 100%; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 90%; } }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 70%; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 55%; } }

body {
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #808080; }

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #808080; }

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #808080; }

h4 {
  font-size: 1.05rem;
  font-weight: 400;
  color: #808080; }

p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #808080; }

.vs {
  font-size: 1.5rem;
  font-weight: 400;
  color: #cccccc; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media only screen and (max-width: 1200px) {
    .container {
      flex-direction: column; } }

.green {
  background-color: #1fc276 !important; }

.red {
  background-color: #ff5959 !important; }

.progress {
  background-color: #cccccc;
  border-radius: 0px;
  box-shadow: none; }
  .progress.vertical {
    position: relative;
    width: 20px;
    height: 60px;
    display: inline-block; }
    .progress.vertical > .progress-bar {
      width: 100% !important;
      position: absolute;
      bottom: 0; }
    .progress.vertical > .progress-bar-top {
      width: 100% !important;
      position: absolute;
      top: 0; }

#soccer-statistic {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 150px; }
  #soccer-statistic .title {
    padding: 30px 20px 10px 20px;
    position: relative; }
    #soccer-statistic .title::after {
      position: absolute;
      content: "";
      left: 15px;
      right: 15px;
      bottom: 0;
      background-color: #808080;
      height: 2px; }

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 350px;
  padding: 20px 30px; }
  @media only screen and (max-width: 1200px) {
    .box {
      padding: 50px 50px;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; } }
  @media only screen and (max-width: 480px) {
    .box {
      padding: 20px 20px; } }
  .box .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: relative;
    padding: 5px; }
    @media only screen and (max-width: 480px) {
      .box .header {
        padding-bottom: 10px; } }
    .box .header ::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background: linear-gradient(90deg, #1fc276 50%, #ff5959 50%); }
    .box .header div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .box .header img {
      width: 35px;
      margin: auto 5px; }
    .box .header .vs {
      margin: auto 5px; }
  .box .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 15px 0; }

/* end box */
.stats-wrapper {
  width: 100%;
  height: 100%;
  /* end stats-left */
  /* end stats center */
  /* end stats right */ }
  .stats-wrapper .stats-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .stats-wrapper .stats-left .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .stats-wrapper .stats-left .right .progress-bar {
        background-color: #1fc276;
        box-shadow: none; }
      .stats-wrapper .stats-left .right div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; }
        .stats-wrapper .stats-left .right div p {
          padding: 5px 0; }
    .stats-wrapper .stats-left .left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .stats-wrapper .stats-left .left .progress-bar {
        background-color: #ff5959;
        box-shadow: none; }
      .stats-wrapper .stats-left .left div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .stats-wrapper .stats-left .left div p {
          padding: 5px 0; }
    .stats-wrapper .stats-left .center {
      padding: 0 10px;
      text-align: center;
      width: 50%; }
      .stats-wrapper .stats-left .center div {
        width: 40px;
        height: 1px;
        margin: 5px auto;
        background-color: #cccccc; }
  .stats-wrapper .stats-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
    .stats-wrapper .stats-center .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-right: 5px; }
    .stats-wrapper .stats-center .left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-left: 5px; }
    .stats-wrapper .stats-center .form-raiting {
      width: 100%; }
      @media only screen and (max-width: 1200px) {
        .stats-wrapper .stats-center .form-raiting {
          width: 75%; } }
      @media only screen and (max-width: 480px) {
        .stats-wrapper .stats-center .form-raiting {
          width: 100%; } }
      .stats-wrapper .stats-center .form-raiting ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin-top: 20px; }
        .stats-wrapper .stats-center .form-raiting ul li {
          display: block;
          height: 30px;
          width: 3px;
          background-color: #cccccc;
          margin: 0 2px;
          border-radius: 2px; }
    .stats-wrapper .stats-center .match {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin-top: 20px;
      padding: 0 20px;
      width: 100%; }
      @media only screen and (max-width: 1200px) {
        .stats-wrapper .stats-center .match {
          width: 75%; } }
      @media only screen and (max-width: 768px) {
        .stats-wrapper .stats-center .match {
          width: 100%; } }
      @media only screen and (max-width: 480px) {
        .stats-wrapper .stats-center .match {
          padding: 0 10px; } }
      .stats-wrapper .stats-center .match div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 2px 2px; }
        .stats-wrapper .stats-center .match div div {
          width: 20px;
          height: 3px;
          border-radius: 2px;
          background-color: #1fc276; }
  .stats-wrapper .stats-right .scores li {
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
    margin: 10px 0px;
    text-align: center; }
    .stats-wrapper .stats-right .scores li span {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      background-color: #f2f2f2;
      z-index: -1; }
    .stats-wrapper .stats-right .scores li h4 {
      position: relative;
      z-index: 1; }
      @media only screen and (max-width: 480px) {
        .stats-wrapper .stats-right .scores li h4 {
          font-size: 140%; } }
    .stats-wrapper .stats-right .scores li:first-child {
      margin-top: 0; }
      .stats-wrapper .stats-right .scores li:first-child h4 span {
        background-color: #1fc276;
        width: 30%;
        left: 25%; }
    .stats-wrapper .stats-right .scores li:nth-child(2) h4 span {
      background-color: #cccccc;
      width: 50%;
      left: 50%;
      transform: translate(-50%); }
    .stats-wrapper .stats-right .scores li:nth-child(3) h4 span {
      background-color: #ff5959;
      right: 0;
      width: 55%; }
    .stats-wrapper .stats-right .scores li:nth-child(4) h4 span {
      background-color: #1fc276;
      left: 0;
      width: 55%; }
    .stats-wrapper .stats-right .scores li:last-child h4 span {
      background-color: #1fc276;
      width: 30%;
      left: 25%; }
  .stats-wrapper .stats-right .score-legend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 25px; }
    .stats-wrapper .stats-right .score-legend div div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row; }
    .stats-wrapper .stats-right .score-legend .square {
      height: 15px;
      width: 15px;
      margin-right: 7px;
      background-color: #cccccc; }

/* end .stats-wrapper */
