//Colors
$color-primary: #1fc276;
$color-secondary: #ff5959;
$color-tertiary: #cccccc;
$color-senary: #FFF;

$background-color:#f2f2f2;
$font-color:#808080;

//Font
$font-primary: 'Roboto', sans-serif;

//Media queries
$small-devices: 480px;
$medium-devices: 768px;
$large-devices: 1024px;
$extra-large-devices: 1200px;
